<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Your Website</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/project">Project</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-4">
    <h1>Our Projects</h1>
    <p>Explore our latest projects and see how we're making a difference.</p>
    
    <div class="row">
        <div class="col-md-4">
            <img src="https://wallpapercave.com/wp/BQsCovH.jpg" alt="Image 1" class="img-fluid">
            <p>Project 1</p>
        </div>
        <div class="col-md-4">
            <img src="https://th.bing.com/th/id/OIP.ix2K6MvuzhZDhyxxDNdv4QAAAA?pid=ImgDet&rs=1" alt="Image 2" class="img-fluid">
            <p>Project 2</p>
        </div>
        <div class="col-md-4">
            <img src="https://th.bing.com/th/id/OIP.ix2K6MvuzhZDhyxxDNdv4QAAAA?pid=ImgDet&rs=1" alt="Image 3" class="img-fluid">
            <p>Project 3</p>
        </div>
    </div>
</div>

</body>
</html>
